.preview-img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.img-delete-btn{
  height: 20px;
  width: 40px;
  color: red;
  border: 1px solid #4979a5;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}